<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
</head>
<body>
<form th:action="@{/reg}" method="POST">
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <input type="password" name="password" />
    </div>
    <div>
        <select name="role">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
        </select>
        <!--        <label>Admin?</label>-->
<!--        <input type="checkbox" th:value="${role}" th:checked="${role}" th:field="*{role}" name="role" />-->
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>